.about {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: black;
}

.about-content {

    width: 60%;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-title {
    margin-right: 25%;
    z-index: 2;

}

.about-title span {
    display: block;
    margin-bottom: 2rem;
    font-size: var(--fnt-size-big);
    opacity: .3;
    color: white;
}


.about-text {
    font-size: var(--fnt-size);
    font-family: 'Short Stack',
        cursive;

    color: white;
    height: auto;
    padding: 2rem 2rem 2rem 2rem;
    border: 2px solid white;
    background-color: black;
    border-radius: 2px;
    text-align: justify;
    line-height: 1.8rem;
    letter-spacing: 2px;
    z-index: 3;
    transition: .3s;
}

.about-text:hover {
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.9);
    background-color: white;

}

@media (max-width:1000px) {


    .about-content {

        width: 80%;
        flex-direction: column;
        margin: 0 auto;


    }

    .about-title {
        margin-right: 5%;
        margin-left: 5%;
    }

    .about-title span {
        display: inline-block;
        margin-bottom: 4rem;
        padding: 1rem;


    }

    .about-text {

        overflow: scroll;
    }

    .about-text:hover {
          color: white;
          border: 2px solid rgba(255, 255, 255, 0.9);
          background-color: rgb(0, 0, 0);

    }


}